<div class="window-pane has-title">
  <header>
    <span class="close button"></span>
    <span class="minimize button"></span>
    <span class="maximize button"></span>
    {{#each titleList.sortedTokens as |token idx|}}
      <span class="title-token {{if token.active 'active'}}" onclick={{action 'highlight' token}}>{{token.title}}</span>
      {{#if (lt idx lastIndex)}}{{token.separator}}{{/if}}
    {{/each}}
  </header>
  <div>
    {{yield (hash template=(component 'page-title-pane/nested-template' titleList=titleList onactivate=(action 'highlight')))}}
  </div>
</div>
